.one{
    margin: 200px;
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: red;
    box-shadow: rgba(0, 0, 0, 0.8);
}
.two{

}
.three{

}
.four{

}