.decimal{
    margin-top: 30px;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: lightskyblue;
    color: white;
}
.search{
    font-size: 15px;
    padding-left: 10px;
    border: none;
    border-radius: 30px;
    width: 250px;
    height: 30px;
}
.three{
    border: 1px solid;
    color: white;
    background-color: lightskyblue;
    border-radius: 10px;
    height: 30px;
}
.con{
    padding: 10px;
    width: 300px;
    margin-top: 30px;
    border: 1px solid;
    border-color: gray;
}
.home,
.notification,
.message{
    margin-bottom: 5px;
}
.home-button{
    margin-left: 120px;
    background-color: blue;
    border: none;
    padding-left: 10px;    
    color: white;
    border-radius: 5px;
}
.notification-button{
    border: none;
    color: white;
    border-radius: 5px;
    background-color: blue;
    margin-left: 93px;
}
.message-button{
    background-color: blue;
    border: none;
    color: white;
    border-radius: 5px;
    margin-left: 110px;
}
.cont{
    margin: 10px;
    vertical-align: top;
    display: inline-block;
}
.container{
    display: inline-block;
}
.cat-pic{
    width: 70px;
    display: flex;
}
.oliver{
        font-family: Arial;
    font-size: 20px;
    color: black;
    margin-top: 1px;
}
.thecat{
    font-family: Arial;
    font-size: 15px;
    color: black;
    margin-top: 1px;
    font-size: 14px;
    color: gray;
}
.popular{
    font-family: Arial;
    color: black;
    margin-top: 1px;
    font-size: 12px;
    color: gray;
}
.follow{
    border: none;
    background-color: lightblue;
    border-radius: 10px;
}


